@charset "UTF-8";
/* Hierarchie de dossier Smacss
    1- Base (p, body, h1, h2....)
    2- Layout (.l-header, .l-sidebar, .l-footer) Mettre essentiellement les indication de positionnement du bloc
    3- Module (.widget, .list, .btn, .bloc, .title ou encore la personnalisation (style) des groupes de contenus ds la section ex: section header 
    4- State (.is-active, is-visible, is-hidden ...) les class concernant les actions avec le JS
    5- Theme (.dark, .light,....) n├®cessaire surtout lors de th├¿me personnalisable avec plusieurs couleurs
  
  Hi├®rarchiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/
/* Hierarchie de dossier Smacss
    1- Base (p, body, h1, h2....)
    2- Layout (.l-header, .l-sidebar, .l-footer) Mettre essentiellement les indication de positionnement du bloc
    3- Module (.widget, .list, .btn, .bloc, .title ou encore la personnalisation (style) des groupes de contenus ds la section ex: section header 
    4- State (.is-active, is-visible, is-hidden ...) les class concernant les actions avec le JS
    5- Theme (.dark, .light,....) n├®cessaire surtout lors de th├¿me personnalisable avec plusieurs couleurs
  
  Hi├®rarchiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/
@font-face {
  font-family: 'Lato';
  src: url("/font/Lato-Bold.ttf");
  src: url("/font/Lato-Italic.ttf");
  src: url("/font/Lato-LightItalic.ttf");
  src: url("/font/Lato-Regular.ttf"); }
html, body {
  margin: 0;
  padding: 0; }

body {
  background-color: #F8F9FB;
  font-family: 'Roboto', sans-serif;
  color: #032f3e; }

.container-fluid {
  max-width: 1700px;
  padding: 0;
  border: 1px red solid; }

.container {
  max-width: 1200px;
  border: 1px green solid; }

h1 {
  font-size: 40px; }

h2 {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 152px; }
  h2:after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #AB987A;
    margin-top: 34px;
    text-align: center;
    margin-left: 49%;
    margin-bottom: 40px; }

h3 {
  font-size: 150%;
  color: #eee;
  padding-left: 15px; }

h4 {
  text-transform: uppercase;
  margin-bottom: 37px; }
  h4:after {
    content: '';
    display: block;
    width: 31px;
    height: 2px;
    background-color: #AB987A;
    margin-top: 30px;
    margin-bottom: 38px; }

h5 {
  text-transform: uppercase;
  margin-bottom: 37px; }
  h5:after {
    content: '';
    display: block;
    width: 175px;
    height: 2px;
    background-color: #AB987A;
    margin-top: 30px;
    margin-bottom: 38px; }

h6 {
  font-family: 'Roboto Bold',sans-serif;
  font-size: 18px;
  margin-left: 160px;
  text-transform: uppercase; }

p {
  color: #616161;
  font-family: 'Roboto Thin', sans-serif; }

a:link {
  color: white;
  text-decoration: none; }

a:visited {
  color: gray; }

a:hover {
  color: #ab987a;
  text-decoration: none; }

a:active, a:focus {
  color: #ab987a; }

.icon {
  color: #032f3e; }

.icon-default {
  color: #ab987a; }

/**** Button***/
.btn-action {
  width: 270px;
  height: 64px;
  border: 3px #032f3f solid;
  background-color: #9d9d9e;
  text-transform: uppercase;
  color: #032f3f; }

.btn-active {
  background-color: #032f3f;
  color: #eee; }

/* Hierarchie de dossier Smacss
    1- Base (p, body, h1, h2....)
    2- Layout (.l-header, .l-sidebar, .l-footer) Mettre essentiellement les indication de positionnement du bloc
    3- Module (.widget, .list, .btn, .bloc, .title ou encore la personnalisation (style) des groupes de contenus ds la section ex: section header 
    4- State (.is-active, is-visible, is-hidden ...) les class concernant les actions avec le JS
    5- Theme (.dark, .light,....) necessaire surtout lors de th├¿me personnalisablke avec plusieurs couleurs
  
  Hierargiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/
.l-menu {
  background-color: #032f3e; }

.l-slide {
  position: relative;
  height: 864px;
  background-color: #9e9e9e; }

.l-services {
  position: relative; }

.l-lessons {
  background-color: #032f3e; }

.l-projects-header, .l-projects-footer {
  background-color: #f8f9fb; }

.l-projects-content {
  background-color: #ffffff; }

.l-skype {
  background-color: #9e9e9e; }

.l-latestNews {
  position: relative;
  background-color: #f8f9fb; }

.l-testimonials {
  position: relative;
  background-image: url("img/pattern.png");
  padding-bottom: 119px;
  border-bottom: 5px #aa977a solid; }

.l-map {
  position: relative;
  background-color: #9d9d9e; }

/* Hierarchie de dossier Smacss
    1- Base (p, body, h1, h2....)
    2- Layout (.l-header, .l-sidebar, .l-footer) Mettre essentiellement les indication de positionnement du bloc
    3- Module (.widget, .list, .btn, .bloc, .title ou encore la personnalisation (style) des groupes de contenus ds la section ex: section header 
    4- State (.is-active, is-visible, is-hidden ...) les class concernant les actions avec le JS
    5- Theme (.dark, .light,....) necessaire surtout lors de th├¿me personnalisablke avec plusieurs couleurs
  
  Hierargiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 101px; }
  .header .header-logo {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header .header-logo img {
      width: 65px;
      margin-right: 7px; }
    .header .header-logo h1 {
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-style: italic;
      color: #032f3e; }
  .header .header-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 67px;
    padding-left: 0;
    padding-right: 0; }
    .header .header-contact p {
      margin: 0 5px; }
  .header .header-contact:before {
    content: "";
    display: block;
    width: 1px;
    height: 48px;
    background-color: #d5d5d5;
    margin-right: 24px;
    margin-left: 0; }
  .header .header-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 67px;
    color: #032f3e; }
    .header .header-icon p:first-child {
      padding-left: 48px; }
    .header .header-icon p {
      margin: 0 32px 0 5px; }

.menu {
  background-color: #032f3e;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase; }
  .menu .menu-item {
    text-align: center; }
    .menu .menu-item a {
      display: block;
      height: 100px;
      padding-top: 10px;
      border-left: 1px #0d3948 solid;
      line-height: 5; }
  .menu .menu-item-first a {
    border-left: 1px #0d3948 solid; }
  .menu .menu-item-last a {
    border-right: 1px #0d3948 solid;
    border-left: none; }
  .menu .menu-item-two a {
    border-left: none; }

/* Hierarchie de dossier Smacss
    1- Base (p, body, h1, h2....)
    2- Layout (.l-header, .l-sidebar, .l-footer) Mettre essentiellement les indication de positionnement du bloc
    3- Module (.widget, .list, .btn, .bloc, .title ou encore la personnalisation (style) des groupes de contenus ds la section ex: section header 
    4- State (.is-active, is-visible, is-hidden ...) les class concernant les actions avec le JS
    5- Theme (.dark, .light,....) n├®cessaire surtout lors de th├¿me personnalisable avec plusieurs couleurs
  
  Hi├®rarchiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/
.slide-button {
  position: absolute;
  top: 327px;
  right: 35px; }

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: #666667; }
  .slide .slide-test {
    position: absolute;
    top: 485px;
    right: 0; }
    .slide .slide-test p {
      color: #eeeeee;
      font-size: 70px;
      text-transform: uppercase;
      line-height: 1; }
      .slide .slide-test p span {
        font-family: "Roboto Thin", sans-serif; }
  .slide .slide-on {
    position: absolute;
    top: 660px;
    right: 0;
    width: 170px;
    height: 123px;
    background-color: #032f3e;
    text-align: center; }
    .slide .slide-on img {
      margin-top: 18%; }

/* Hierarchie de dossier Smacss
    1- Base (p, body, h1, h2....)
    2- Layout (.l-header, .l-sidebar, .l-footer) Mettre essentiellement les indication de positionnement du bloc
    3- Module (.widget, .list, .btn, .bloc, .title ou encore la personnalisation (style) des groupes de contenus ds la section ex: section header 
    4- State (.is-active, is-visible, is-hidden ...) les class concernant les actions avec le JS
    5- Theme (.dark, .light,....) n├®cessaire surtout lors de th├¿me personnalisable avec plusieurs couleurs
  
  Hierargiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/
.services {
  text-align: center; }
  .services p {
    margin-top: 31px;
    font-family: 'Lato Light', sans-serif;
    font-size: 16px;
    line-height: 1.68;
    text-transform: upper; }
  .services .services-btn-bg {
    position: absolute;
    top: -35px;
    left: 0; }
  .services .services-chevron {
    position: absolute;
    top: 11px;
    left: 134px;
    color: #AB987A; }
  .services .service-icon-bg {
    position: relative;
    margin-bottom: 22px; }
  .services .service-icon {
    position: absolute;
    top: 49px;
    left: 79px; }
  .services .services-box {
    margin-top: 139px;
    margin-bottom: 181px; }
    .services .services-box p {
      font-family: 'Roboto Bold', sans-serif;
      font-size: 18px;
      line-height: 1.41;
      font-weight: bold; }
    .services .services-box p:after {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background-color: #AB987A;
      margin-top: 27px;
      text-align: center;
      margin-left: 49%; }

/* Hierarchie de dossier Smacss
    1- Base (p, body, h1, h2....)
    2- Layout (.l-header, .l-sidebar, .l-footer) Mettre essentiellement les indication de positionnement du bloc
    3- Module (.widget, .list, .btn, .bloc, .title ou encore la personnalisation (style) des groupes de contenus ds la section ex: section header 
    4- State (.is-active, is-visible, is-hidden ...) les class concernant les actions avec le JS
    5- Theme (.dark, .light,....) n├®cessaire surtout lors de th├¿me personnalisable avec plusieurs couleurs
  
  Hierargiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/
.lessons h3 {
  margin-top: 122px;
  margin-bottom: 84px;
  font-family: 'Roboto',sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  line-height: 1.4; }
  .lessons h3 span {
    font-family: 'Roboto Thin',sans-serif; }
.lessons .lessons-text p {
  color: white;
  text-transform: uppercase; }
.lessons .lessons-pipe:after {
  content: '';
  display: block;
  height: 58px;
  width: 2px;
  background-color: #AB987A;
  margin: 24px 34%; }
.lessons .lessons-linetime {
  margin-bottom: 120px; }

/* Hierarchie de dossier Smacss
    1- Base (p, body, h1, h2....)
    2- Layout (.l-header, .l-sidebar, .l-footer) Mettre essentiellement les indication de positionnement du bloc
    3- Module (.widget, .list, .btn, .bloc, .title ou encore la personnalisation (style) des groupes de contenus ds la section ex: section header 
    4- State (.is-active, is-visible, is-hidden ...) les class concernant les actions avec le JS
    5- Theme (.dark, .light,....) n├®cessaire surtout lors de th├¿me personnalisable avec plusieurs couleurs
  
  Hierargiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/
.projects p {
  text-align: center;
  font-family: 'Lato Light', sans-serif;
  font-size: 16px;
  line-height: 1.62; }
.projects .projects-header {
  margin-bottom: 145px; }
.projects .project-right {
  margin-top: 71px; }
  .projects .project-right span {
    padding-left: 10px; }
  .projects .project-right .project-right-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 21px; }
    .projects .project-right .project-right-header p {
      margin: 0;
      padding: 0; }
    .projects .project-right .project-right-header .projects-cat {
      font-family: 'Lato Light',sans-serif;
      font-size: 16px;
      color: #AB987A;
      text-transform: uppercase; }
    .projects .project-right .project-right-header .projects-date {
      color: #b5b5b5; }
  .projects .project-right p {
    font-family: 'Lato Light',sans-serif;
    font-size: 16px;
    line-height: 1.62;
    text-align: justify;
    margin-bottom: 43px; }
  .projects .project-right .project-button-action {
    margin-bottom: 80px; }
  .projects .project-right .project-social p {
    color: #b5b5b5;
    text-transform: uppercase; }
    .projects .project-right .project-social p i {
      padding-left: 30px; }
.projects .projects-playing .projects-playing-btn-left {
  text-align: left; }
.projects .projects-playing .projects-playing-btn-right {
  text-align: right; }
.projects .projects-playing i {
  color: #dadcdc; }
.projects .projects-playing .projects-playing-button {
  display: inline-flex;
  justify-content: center; }
  .projects .projects-playing .projects-playing-button p {
    margin-right: 5px; }
.projects .project-footer {
  margin-top: 151px;
  margin-bottom: 60px; }
  .projects .project-footer .project-footer-left, .projects .project-footer .project-footer-middle, .projects .project-footer .project-footer-right {
    position: relative;
    background-color: #9e9e9e; }
  .projects .project-footer .project-footer-middle:first-child {
    margin-bottom: 29px; }
  .projects .project-footer .project-footer-icon-folder {
    position: absolute;
    top: 20px;
    left: 20px; }
    .projects .project-footer .project-footer-icon-folder p {
      color: #eee;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-size: 14px; }
.projects .project-pagination {
  margin-bottom: 164px; }
  .projects .project-pagination .button-pagination {
    width: 70px;
    height: 61px;
    background-color: #eee;
    border: 2px #aa977a solid;
    color: #aa977a; }
  .projects .project-pagination .active {
    color: #eee;
    background-color: #aa977a; }

/* Hierarchie de dossier Smacss
    1- Base (p, body, h1, h2....)
    2- Layout (.l-header, .l-sidebar, .l-footer) Mettre essentiellement les indication de positionnement du bloc
    3- Module (.widget, .list, .btn, .bloc, .title ou encore la personnalisation (style) des groupes de contenus ds la section ex: section header 
    4- State (.is-active, is-visible, is-hidden ...) les class concernant les actions avec le JS
    5- Theme (.dark, .light,....) n├®cessaire surtout lors de th├¿me personnalisable avec plusieurs couleurs
  
  Hierargiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/
.skype {
  padding: 0; }
  .skype .col-md-6, .skype .col-md-4 {
    padding: 0;
    margin-top: 55px;
    margin-bottom: 42px; }
  .skype .skype-content {
    color: #eee;
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    text-transform: uppercase; }
    .skype .skype-content .skype-icon {
      color: #032f3f;
      font-size: 121px; }
    .skype .skype-content .skype-text {
      margin-left: 33px;
      color: #032f3f;
      line-height: 1.3; }
      .skype .skype-content .skype-text span {
        font-family: 'Roboto Thin',sans-serif; }

/* Hierarchie de dossier Smacss
    1- Base (p, body, h1, h2....)
    2- Layout (.l-header, .l-sidebar, .l-footer) Mettre essentiellement les indication de positionnement du bloc
    3- Module (.widget, .list, .btn, .bloc, .title ou encore la personnalisation (style) des groupes de contenus ds la section ex: section header 
    4- State (.is-active, is-visible, is-hidden ...) les class concernant les actions avec le JS
    5- Theme (.dark, .light,....) n├®cessaire surtout lors de th├¿me personnalisable avec plusieurs couleurs
  
  Hierargiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/
.latestNews-button {
  position: absolute;
  top: 450px;
  right: 180px; }
  .latestNews-button p {
    color: #d8dadb; }

.latestNews .latestNews-header p {
  text-align: center;
  font-family: 'Lato Light', sans-serif;
  font-size: 16px;
  color: #616161; }
.latestNews .latestNews-col-left .article1 {
  position: relative;
  background-color: #9d9d9e; }
.latestNews .latestNews-col-left .action-comment {
  position: absolute;
  top: 0;
  right: 0; }
  .latestNews .latestNews-col-left .action-comment .interaction {
    width: 60px;
    height: 64px;
    text-align: center; }
    .latestNews .latestNews-col-left .action-comment .interaction p {
      color: #eee;
      line-height: 1.45;
      font-size: 14px;
      margin: 0 0 2px; }
  .latestNews .latestNews-col-left .action-comment .comments {
    background-color: #aa977a;
    padding-top: 5px; }
  .latestNews .latestNews-col-left .action-comment .calendar {
    background-color: #032f3f;
    padding-top: 5px; }
.latestNews .latestNews-col-left .latestNews-article2 {
  background-color: white;
  box-shadow: 1.1px 2px 1.9px #d6d4d4; }
  .latestNews .latestNews-col-left .latestNews-article2 .col-md-12 {
    padding: 0; }
  .latestNews .latestNews-col-left .latestNews-article2 .lien {
    color: #aa977a;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase; }
  .latestNews .latestNews-col-left .latestNews-article2 .last {
    color: #032f3f; }
  .latestNews .latestNews-col-left .latestNews-article2 .article2-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
.latestNews .latestNews-col-right .latestNews-box {
  position: relative;
  height: 125px;
  margin-bottom: 21px;
  background-color: white;
  box-shadow: 1.1px 2px 1.9px #d6d4d4; }
  .latestNews .latestNews-col-right .latestNews-box .latestNews-box-content {
    width: 91%; }
    .latestNews .latestNews-col-right .latestNews-box .latestNews-box-content p {
      margin-left: 160px;
      margin-top: 39px;
      color: #aa977a;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      text-transform: uppercase; }
  .latestNews .latestNews-col-right .latestNews-box .action-comment1 {
    position: absolute;
    top: 0;
    right: 0; }
    .latestNews .latestNews-col-right .latestNews-box .action-comment1 .interaction1 {
      width: 60px;
      height: 62px;
      text-align: center; }
      .latestNews .latestNews-col-right .latestNews-box .action-comment1 .interaction1 p {
        color: #eee;
        margin: 0 0 2px;
        font-size: 14px; }
    .latestNews .latestNews-col-right .latestNews-box .action-comment1 .comments1 {
      background-color: #aa977a;
      padding-top: 5px; }
    .latestNews .latestNews-col-right .latestNews-box .action-comment1 .calendar1 {
      background-color: #032f3f;
      padding-top: 5px; }
.latestNews .latestNews-col-right .latestNews-box-last {
  background-color: #032f3f;
  color: white; }
.latestNews .latestNews-col-right .latestNews-img {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9d9d9e; }
.latestNews .latestNews-btn-action {
  text-align: center; }
  .latestNews .latestNews-btn-action button {
    width: 268px;
    height: 63px;
    background-color: #f6f7fa;
    border: 2px #aa977a solid;
    color: #aa977a;
    margin-top: 55px;
    margin-bottom: 150px;
    text-transform: uppercase; }

/* Hierarchie de dossier Smacss
    1- Base (p, body, h1, h2....)
    2- Layout (.l-header, .l-sidebar, .l-footer) Mettre essentiellement les indication de positionnement du bloc
    3- Module (.widget, .list, .btn, .bloc, .title ou encore la personnalisation (style) des groupes de contenus ds la section ex: section header 
    4- State (.is-active, is-visible, is-hidden ...) les class concernant les actions avec le JS
    5- Theme (.dark, .light,....) n├®cessaire surtout lors de th├¿me personnalisable avec plusieurs couleurs
  
  Hierargiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/
.testimonials .testimonials-content p {
  text-align: center; }
.testimonials .testimonials-content .testimonials-btn button {
  width: 62px;
  height: 70px;
  margin-top: 155%;
  color: #aa977a;
  border: 3px #aa977a solid;
  background-color: transparent; }
.testimonials .testimonials-content .testimonials-avatar {
  text-align: center; }
.testimonials .testimonials-content .author {
  font-family: 'Roboto Bold',sans-serif;
  font-size: 24px;
  color: #032f3e;
  text-transform: capitalize; }
.testimonials .testimonials-content .category {
  font-family: 'Roboto Light',sans-serif;
  font-size: 18px;
  text-transform: capitalize;
  color: #aa977a; }
.testimonials .testimonials-content .testimonials-btn-bg {
  position: absolute;
  bottom: -125px;
  left: 0; }
  .testimonials .testimonials-content .testimonials-btn-bg .testimonials-map {
    position: absolute;
    top: 5px;
    left: 101px;
    color: #eee; }

/* Hierarchie de dossier Smacss
    1- Base (p, body, h1, h2....)
    2- Layout (.l-header, .l-sidebar, .l-footer) Mettre essentiellement les indication de positionnement du bloc
    3- Module (.widget, .list, .btn, .bloc, .title ou encore la personnalisation (style) des groupes de contenus ds la section ex: section header 
    4- State (.is-active, is-visible, is-hidden ...) les class concernant les actions avec le JS
    5- Theme (.dark, .light,....) n├®cessaire surtout lors de th├¿me personnalisable avec plusieurs couleurs
  
  Hierargiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/
.map .map-modal {
  position: absolute;
  top: 163px;
  right: 557px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 372px;
  height: 110px;
  background-color: #fff;
  color: #254b58;
  box-shadow: 1.1px 2px 1.9px #d6d4d4; }
  .map .map-modal:after {
    content: '\25BC';
    display: block;
    font-size: 100px;
    color: #fdfdfe;
    position: absolute;
    bottom: -103px;
    left: 36%;
    text-shadow: 1.1px 2px 1.9px #d6d4d4; }
  .map .map-modal .map-logo {
    width: 20%; }
  .map .map-modal .map-content {
    width: 70%; }
    .map .map-modal .map-content h6 {
      font-family: 'Lato Bold', sans-serif;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      text-align: left;
      margin: 0; }
  .map .map-modal .map-close {
    padding-top: 5px;
    margin-right: -10px;
    align-self: flex-start;
    color: #b4b4b5; }

/*# sourceMappingURL=style.css.map */
