/* Hierarchie de dossier Smacss
    1- Base (p, body, h1, h2....)
    2- Layout (.l-header, .l-sidebar, .l-footer) Mettre essentiellement les indication de positionnement du bloc
    3- Module (.widget, .list, .btn, .bloc, .title ou encore la personnalisation (style) des groupes de contenus ds la section ex: section header 
    4- State (.is-active, is-visible, is-hidden ...) les class concernant les actions avec le JS
    5- Theme (.dark, .light,....) nécessaire surtout lors de thème personnalisable avec plusieurs couleurs
  
  Hiérarchiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/

@font-face {
  font-family: 'Lato';
  src: url('/font/Lato-Bold.ttf');
  src: url('/font/Lato-Italic.ttf');
  src: url('/font/Lato-LightItalic.ttf');
  src: url('/font/Lato-Regular.ttf');
}


html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F9FB;
  font-family: 'Roboto', sans-serif;
  color: #032f3e;


}
.container-fluid {
  max-width: 1700px;
  padding: 0;
  //border: 1px red solid;
}

.container {
  max-width: 1200px;
  //border: 1px green solid;

}
h1 {
  font-size: 40px;
}
h2 {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 152px;
  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #AB987A;
    margin-top: 34px;
    text-align: center;
    margin-left: 49%;
    margin-bottom: 40px;

  }
}
h3 {
  font-size: 150%;
  color: #eee;
  padding-left: 15px;
}
h4 {
  text-transform: uppercase;
  margin-bottom: 37px;

  &:after {
    content: '';
    display: block;
    width: 31px;
    height: 2px;
    background-color: #AB987A;
    margin-top: 30px;
    margin-bottom: 38px;

  }
}
h5 {
  text-transform: uppercase;
  margin-bottom: 37px;

  &:after {
    content: '';
    display: block;
    width: 175px;
    height: 2px;
    background-color: #AB987A;
    margin-top: 30px;
    margin-bottom: 38px;

  }
}

h6 {
  font-family: 'Roboto Bold',sans-serif;
  font-size: 18px;

  margin-left: 160px;

  text-transform: uppercase;
}

p {
  color: #616161;
  font-family: 'Roboto Thin', sans-serif;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: gray;
}
a:hover {
  color: #ab987a;
  text-decoration: none;
}
a:active, a:focus {
  color: #ab987a;
}

.icon {
  color: #032f3e;
}

.icon-default {
  color: #ab987a;
}


/**** Button***/

.btn-action {

  width: 270px;
  height: 64px;

  border: 3px #032f3f solid;
  background-color: #9d9d9e;


  text-transform: uppercase;
  color: #032f3f;

}

.btn-active {
  background-color: #032f3f;

  color: #eee;
}

    
        
      
    