/*  Section Copyright */

.copyright {

  div {
    //height: 105px;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p {
    padding:0;
    margin: 10px;
    font-family:'Roboto Light', sans-serif;
    color: #5f737a;


  }
  .copyright-reseau {
    display: flex;
    flex-direction: row;
    justify-content: center;

    p {
      width: 15px;
    }
  }
}