/*  Section footer  */

.footer {
  margin-top: 103px;
  margin-bottom: 65px;
  .footer-box {
    color: #f8f9fa;

    p, ul, li {
      font-family: 'Lato',sans-serif;
      color: #f8f9fa;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .footer-about {
     }
    h4 {
      font-family: 'Roboto bold',sans-serif;
    }
    p {
      margin-top: 25px;
    }



  }
  .footer-contact {
    li {
      padding-bottom: 27px;

        i {
          margin-right: 10px;
          color: #aa977a;
        }
    }
  }

  .footer-contact, .footer-news {
    color: #f8f9fa;

     h4{
      margin-bottom: 0;

      &:after {
        margin-top: 20px;
        margin-bottom: 31px;
      }
    }

  }

  .footer-news {
    p {
      margin: 0;
      padding: 0;
    }

    .footer-date {
      color: #a9967a;
    }
    .footer-title {
      font-family: 'Roboto Bold',sans-serif;
    }
  }
}
