/*  Section Header  */


.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  height:101px;


  .header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 65px;
      margin-right: 7px;
    }

    h1 {
      margin: 0;

      font-family: 'Roboto', sans-serif ;
      font-weight: bold;
      font-style: italic;
      color: #032f3e;

    }
  }
  .header-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //border-left: 1px #ab987a solid;

    height: 67px;
    padding-left:0;
    padding-right: 0;

    p {
      margin: 0 5px;

    }

  }

  .header-contact:before {
    content:'' ;
    display:block;
    width:1px;
    height:48px;
    background-color: #d5d5d5;
    margin-right: 24px;
    margin-left: 0;
  }

  .header-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 67px;

    color: #032f3e;

      p:first-child {
        padding-left: 48px;
      }

      p {
        margin: 0 32px 0 5px;
      }
  }
}

.menu {
  background-color: #032f3e;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;

  .navbar-default {
    background-color: #032f3e !important;
    border: 1px #0d3948 solid;
  }
  .navbar {
    margin-bottom: 0;
  }
  .navbar-nav {
    padding: 0;
  }

  .menu-item {

    text-align: center;

      display: block;
      height: 100px;

      padding-top: 10px;

      border: 1px #0d3948 solid;

      line-height: 5;




  }


}


      
    