/*  Section LatestNews  */

.latestNews-button {
  position: absolute;
  top: 450px;
  right: 180px;

  p {
    color: #d8dadb;
  }
}

.latestNews {



  .latestNews-header {
    p {
      text-align: center;
      font-family: 'Lato Light', sans-serif;
      font-size: 16px;
      color: #616161;
    }
  }
  
  .latestNews-col-left {

      .article1 {
        position: relative;
        background-image: url("../img/articles/musician.jpg");
        -webkit-background-size: cover;
        background-size: cover;
      }

      .action-comment {
        position: absolute;
        top: 0;
        right: 0;
          .interaction {
            width: 60px;
            height: 64px;
            text-align: center;

              p{
                color: #eee;
                line-height: 1.45;
                font-size: 14px;
                margin: 0 0 2px;


              }

          }
        .comments {
          background-color: #aa977a;
          padding-top: 5px;
        }
        .calendar {
          background-color: #032f3f;
          padding-top: 5px;
        }


      }

      .latestNews-article2 {

        background-color: white;
        box-shadow: 1.1px 2px 1.9px #d6d4d4;
        .col-md-12 {
          padding: 0;
        }
        .lien {
          color: #aa977a;
          font-family: 'Roboto', sans-serif;
          font-size:14px;
          text-transform: uppercase;
        }
        .last {
          color: #032f3f;

        }

        .article2-footer {
          display: flex;
          flex-direction: row;

          justify-content: space-between;
        }
      }
  }

  .latestNews-col-right {

    .latestNews-box {

        position: relative;
        height: 125px;
        margin-bottom: 21px;


      background-color: white;
        box-shadow: 1.1px 2px 1.9px #d6d4d4;

      .latestNews-box-content {
        width: 91%;

        p {
          margin-left:160px;
          margin-top: 39px;

          color: #aa977a;
          font-family: 'Roboto', sans-serif;
          font-size:14px;
          text-transform: uppercase;

        }

      }

      .action-comment1 {
          position: absolute;
          top: 0;
          right: 0;
          .interaction1 {
            width: 60px;
            height: 62px;
            text-align: center;

            p{
              color: #eee;
              margin: 0 0 2px;
              //line-height: 1.45;
              font-size: 14px;

            }

          }
          .comments1 {
            background-color: #aa977a;
            padding-top: 5px;
          }
          .calendar1 {
            background-color: #032f3f;
            padding-top: 5px;
          }


        }

      }
      .latestNews-box-last {
        background-color: #032f3f;
        color: white;

      }

    .latestNews-img {
        position: absolute;
        top:0;
        left: 0;
        background-color: #9d9d9e;
    }

    .latestNews-img1 {
      background-image: url('../img/articles/violon.jpg');
      -webkit-background-size: cover;
      background-size: cover;
    }


    .latestNews-img2 {
      background-image: url('../img/articles/guitar-child.jpg');
      -webkit-background-size: cover;
      background-size: cover;
    }

    .latestNews-img3 {
      background-image: url('../img/articles/group-music.jpg');
      -webkit-background-size: cover;
      background-size: cover;
    }

  }

  .latestNews-btn-action {
    text-align: center;
     button {
       width: 268px;
       height: 63px;
       background-color: #f6f7fa;
       border:2px #aa977a solid;
       color: #aa977a;
       margin-top:55px;
       margin-bottom:150px;


       text-transform: uppercase;
     }
    
  }



}