/* Section Project  */

.projects {

    .projects-content {
      padding-top: 50px;
    }


    p {
      text-align: center;
      font-family: 'Lato Light', sans-serif;
      font-size: 16px;
      line-height: 1.62;
    }

    .projects-header {
      margin-bottom: 145px;
    }


    .project-right {

      margin-top: 71px;

      span {
        padding-left: 10px;
      }

        .project-right-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          margin-bottom: 21px;

          p {
            margin:0;
            padding:0;
          }

          .projects-cat {
            font-family:'Lato Light',sans-serif;
            font-size: 16px;
            color: #AB987A;
            text-transform: uppercase;


          }

          .projects-date {
            color: #b5b5b5;
          }

        }

        p {
          font-family: 'Lato Light',sans-serif;
          font-size: 16px;
          line-height:1.62;
          text-align :justify;
          margin-bottom: 43px;
        }
        .project-button-action {
          margin-bottom: 80px;
        }

        .project-social {
          display: flex;
          flex-direction: row;

          p {
            //color: #b5b5b5;
            text-transform: uppercase;
          }

            a:link {
              color: #032f40;
            }

            a:hover {
              color: #aa977a;
            }

              i {
                padding-left: 30px;
              }



        }
    }

    .projects-playing {
      margin-top: 24px;

      .projects-playing-btn-left{
        text-align: left;
      }

      .projects-playing-btn-right{
        text-align: right;
      }

      i {
        color: #dadcdc;
      }



      .projects-playing-button {
        display: inline-flex;
        justify-content: center;

          p {
            margin-right:5px;

          }

      }
    }

    .project-footer {

      margin-top: 151px;
      margin-bottom: 60px;


        .project-footer-middle:first-child {
          margin-bottom: 29px;

        }

      .project-footer-left {
        position: relative;
        height: 441px;

        background-image: url('../img/articles/music.jpg');
        -webkit-background-size: cover;
        background-size: cover;
      }

      .project-footer .project-footer-box-middle {
          .project-footer-middle-left {

            background-image: url('../img/articles/rock.jpg');
            -webkit-background-size: cover;
            background-size: cover;

          }

        .project-footer-middle-right {

          background-image: url('../img/articles/lessons.jpg');
          -webkit-background-size: cover;
          background-size: cover;

        }
      }

      .project-footer-right {
        position: relative;
        height: 441px;

        background-image: url('../img/articles/guitarist.jpg');
        -webkit-background-size: cover;
        background-size:cover;
      }

        .project-footer-icon-folder {
          position: absolute;
          top: 20px;
          left: 20px;

            p {
              color: #eee;
              text-transform: uppercase;
              font-family: 'Roboto', sans-serif;
              font-size: 14px;
            }
        }

    }
    .project-pagination {
      margin-bottom: 164px;

      .button-pagination {
        width: 70px;
        height: 61px;
        background-color: #eee;

        border: 2px #aa977a solid;
        color: #aa977a;
      }
      .active {
        color: #eee;
        background-color: #aa977a;
      }
    }


}
