/*  Responsive Mobile */
@media screen and (max-width:768px) {

  h2 {
    margin-top: 60px;
  }

  .header .header-contact {
    display: none;
  }

  .header .header-icon {
    justify-content: flex-start;
  }
  .header .header-icon p {
    margin: 0 9px 0 5px;
  }

  .l-slide {
    display: none;
  }

  .lessons h3 {
    margin-top: 60px;
    font-size: 41px;
  }

  .lessons-text p {
    padding-left: 15px;
  }

  .lessons .lessons-pipe:after {
    margin: 21px;
  }

  .projects  {
    margin-top: 50px;
  }

  .projects .projects-header {
    margin-bottom: 50px;
  }

  .projects .project-footer {
    margin-top: 0px;
    //margin-bottom: 60px;
  }

  .btn-action {
    width: 230px;
  }

  .projects .project-pagination {
    margin-bottom: 50px;
  }
  .services .services-box .services-box-img {
    position: relative;
    width: 67px;
    height: 68px;
  }

  .services .services-box .services-box-img .service-icon-bg {
    position: absolute;
    top: 0;
    width: 67px;
    left: 0;
  }

  .services .services-box .services-box-img .service-icon {
    top: 17px;
    left: 21px;
  }

  .services .services-box .services-box-img {
    position: relative;
  }

  .services .services-box  .services-box3 {
    display: inline-flex;
    flex-direction: row;
  }

  .services .services-box .services-box-img .service-icon-bg1 .service-icon .ico{
    height: 35px;
  }

  .services .services-box p:after {
    content: '';
    display: none;
    width: 0;
    height: 0;
    background-color: #f6f8fa;
    margin-top: 15px;
  }

  .services .services-box p {
    text-align: left  ;
    text-align: -webkit-left;
    width: 100%;
  }


  .projects .project-footer .project-footer-left, .projects .project-footer .project-footer-middle, .projects .project-footer .project-footer-right {
    //position: relative;
    //background-color: #9e9e9e;
    margin-bottom: 15px;
  }

  .col-xs-12 .project-footer-box-middle {
      padding-left: 0;
      padding-right: 0;
  }

  .skype .skype-content {
    text-align: center;
  }

  .skype .skype-content .skype-text {
    margin-left: 0;
    font-size: 24px;
  }

  .skype .btn-action {
    width: 100%;
  }

  .skype .col-md-6, .skype .col-md-4 {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .testimonials .testimonials-content .testimonials-btn button {
    display:none
  }

  .testimonials .testimonials-content .testimonials-btn1 button {
      width: 62px;
      height: 70px;

      //margin-top: 155%;
      color: #aa977a;
      border: 3px #aa977a solid;
      background-color: transparent;
    }
  
  .latestNews-col-right {
    display: none;
  }

  .latestNews .latestNews-btn-action button {
    width: 228px;
    margin-bottom: 50px;

  }

  .latestNews-button {
    display: none;
  }

  .map .map-modal {
    top: 163px;
    right: 48px;
    width: 273px;
    height: 78px;
  }


  .copyright {
   display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }

  .copyright .copyright-text {
    font-size: 12px;
  }

  .copyright div {
    margin-top: 0;
    margin-bottom: 0;
  }


  
  
  
  
  


  //header {
  //  .header-box {
  //
  //    .header-contact {
  //      display: none !important;
  //    }
  //  }
  //}

  //.container-fluid {
  //  width: 100%;
  //  padding: 0;
  //  //border: 1px red solid;
  //}

  //.container {
  //  width: 100%;
  //  //border: 1px green solid;
  //
  }
  //.services .services-box .services-box-img .service-icon-bg {
  //  width: 0px;
  //}

  .services-box {
    //margin-top: 139px;
    //margin-bottom: 181px;

    .services-box-img {
     // position: relative;
      width: 20%;

      .service-icon-bg {
      //  position: relative;
      //  margin-bottom: 22px;
        width: 0;
      }
      //
      //.service-icon {
      //  position: absolute;
      //  top: 40px;
      //  left: 50px;
      //}
      //.service-icon-other {
      //  position: absolute;
      //  top: 27px;
      //  left: 32px;
      //}

    }

    p {
      //font-family: 'Roboto Bold', sans-serif;
      //font-size: 1em;
      //line-height: 1.41;
      //font-weight: bold;
      //text-align: center;
      //text-align: -webkit-center;
      width: 30%;
    }

    //p:after {
    //  content: '';
    //  display: block;
    //  width: 30px;
    //  height: 2px;
    //  background-color: #AB987A;
    //  margin-top: 27px;
    //  //margin-left: 49%;
    //
    //}
  }


//}



/*  Responsive Tablette */
@media screen and (min-width:768px) and (max-width:991px) {

  .container-fluid {
    width: 100%;
    padding: 0;

    //border: 1px red solid;
  }

  .container {
    width: 100%;
    //border: 1px green solid;

  }

  .not_tablet {
    display: none;
  }

  .header {

    .not_tablet {
      display: none;
    }

  }
  .menu {
    .menu-item {


      a {

        border-bottom: 1px #0d3948 solid;
        border-left: none;
        border-right: none;

      }



    }
    .menu-item-first {
      border-left: none;
    }

    .navbar .navbar-default {
      background-color: #032f3e !important;
      border-color: #032f3e !important;
    }

    .navbar-header {
      background-color: #f8f9fb;
      border-color: #f8f9fb;
    }
  }

  .services {

    .services-box {
      display:flex;
      flex-direction: row;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;

      .services-box-img {
        position: relative;
        text-align: -webkit-center;

        .service-icon-bg {
          width: 100px;
          text-align: center;
          margin-bottom: 20px;

        }
        .service-icon {
          position: absolute;
          //top: 32px;
          //width: 100px;

          .ico {
            height:35px;
          }
          .paper {
            height:35px;
          }
          .paper {
            height:35px;
          }
        }
        .service-icon-other {
          position: absolute;
          top: 16px;
          left: 32px;
          width: 32px;

        }
      }

    }
  }
  .project {

    .project-button-action {
      text-align: center;
    }

    .projects-content {

      .project-slide {

        .projects-playing {
        }
      }
    }
  }

  .projects .project-footer .project-footer-box-middle {
    padding-left: 0;
    padding-right: 0;
  }

  .projects {
    .project-footer {

      .project-footer-box-middle {
        margin-top: 30px;

          .project-footer-middle-left {
            border-right: 2px #eee solid;
          }
          .project-footer-middle-right {
            border-left: 2px #eee solid;
          }
      }
    }
  }


  .skype {

    .skype-center {
      text-align: center;
    }
      .skype-content {
        margin-bottom: -76px;
      }
  }

  .testimonials {
    margin-bottom: 50px;
  }

  .map {

    .map-modal {
      top: 155px;
      right: 37px;
      width: 327px;
      height: 88px;
    }
  }


  .footer {
    .footer-box {
       .footer-about {
         margin-bottom: 50px;
       }
    }
  }


  .copyright {
    .copyright-text {
      font-size: 10px;
    }
  }

}


/*  Responsive TV */
@media screen and (min-width:1220px) {
  .services-box-img .service-icon {
    position: absolute;
    top: 31px;
    left: 54px;
  }

}





