/*  Section Skype */

.skype {
  padding: 0;
  .col-md-6, .col-md-4 {
    padding: 0;
    margin-top: 55px;
    margin-bottom: 42px;

  }

  .skype-content {
    color: #eee;
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    text-transform: uppercase;

      .skype-icon {
        color: #032f3f;
        font-size: 121px;

      }
      .skype-text {
        margin-left: 33px;

        color: #032f3f;
        line-height: 1.3;



          span {
            font-family: 'Roboto Thin',sans-serif;
          }
      }

  }
}