/*  Section Slide */


    .carousel-indicators li {
      width: 12px;
      height: 12px;
      background-color: rgba(0, 0, 0, 0);
    }

    .carousel-indicators .active {
      width: 16px;
      height: 16px;
      background-color: #aa977a;
    }

  .slide-box {
    position: relative;
  }

.slide-button {
  position: absolute;
  top: 207px;
  right: -9px;
  
    .slide-button-box {

      display: flex;
      flex-direction: column;
      align-items: flex-end;


      .btn-up {

        height: 20px;
        width: 20px;
        margin-bottom: 118px;
         a span {
           margin-left: -4px;

         }

      }

      .btn-down {
        height: 20px;
        width: 20px;

        a span {
          margin-left: -4px;
          margin-top: 30px;
        }

      }
    }


  //  .carousel-indicators li {
  //    width: 12px;
  //    height: 12px;
  //    background-color: rgba(0, 0, 0, 0);
  //  }
  //.carousel-indicators li .active {
  //  width: 14px;
  //  height: 14px;
  //  background-color: rgba(171, 152, 122, 0);
  //}
}



.slide {
  position: absolute;
  top:0;
  left: 0;
  right: 0;

    //.slide-box-shadow {
    //  box-shadow: 10px 32px 10px #666667;
    //  @include box-shadow(0 25px 20px orange);


  .slide-test {

    position: absolute;
    top: 337px;
    right: 29px;
    //border: 1px red solid;

      p {
        color: #eeeeee;
        font-size: 70px;
        text-transform: uppercase;
        line-height: 1;

          span {
            font-family: "Roboto Thin", sans-serif;
          }

      }
  }

  .slide-on {
    position: absolute;
    top: 471px;
    right: 43px;

    width: 170px;
    height: 123px;
    background-color: #032f3e;

    text-align: center;
      img {
        margin-top: 18%;
      }
  }


}
        
      
    