/*  Section Slide */


.slide-button {
  position: absolute;
  top: 327px;
  right: 35px;
}

.slide {
  position: absolute;
  top:0;
  left: 0;
  right: 0;

    .slide-box-shadow {
      box-shadow: 10px 32px 10px #666667;
    }
  //
  //-moz-box-shadow: 0px 20px 20px 40px #656565;
  //-webkit-box-shadow: 0px 20px 20px 40px #656565;
  //-o-box-shadow: 0px 20px 20px 40px #656565;
  //box-shadow: 0px 20px 20px 40px #656565;
  ////filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=20);


  .slide-test {
    position: absolute;
    top: 485px;
    right: 0;

      p {
        color: #eeeeee;
        font-size: 70px;
        text-transform: uppercase;
        line-height: 1;

          span {
            font-family: "Roboto Thin", sans-serif;
          }

      }
  }

  .slide-on {
    position: absolute;
    top: 660px;
    right: 0;

    width: 170px;
    height: 123px;
    background-color: #032f3e;

    text-align: center;
      img {
        margin-top: 18%;
      }
  }


}
        
      
    