/*  Section testimonials  */

.testimonials {

  .testimonials-content {

    p {
      text-align: center;
    }

    .testimonials-btn {
      button {
        width: 62px;
        height: 70px;

        margin-top: 155%;
        color: #aa977a;
        border: 3px #aa977a solid;
        background-color: transparent;
      }
    }

    .testimonials-btn1 {
      display: none;
    }

    .testimonials-avatar {
        text-align: center;

        img {
          width:50%;
        }
    }

    .author {
      font-family:'Roboto Bold',sans-serif;
      font-size: 24px;
      color: #032f3e;
      text-transform: capitalize;

    }
    .category {
      font-family:'Roboto Light',sans-serif;
      font-size: 18px;
      text-transform: capitalize;

      color: #aa977a;
    }
    .testimonials-btn-bg {
      position: absolute;
      bottom: -125px;
      left:0;

        .testimonials-map {
          position: absolute;
          top: 5px;
          left: 101px;
          color: #eee;

        }
    }

  }


}